	@media only screen and (min-width: 992px) and (max-width: 1200px) {
		.value-chart img {
			width: 110%;
			margin-left: 70px;
		}
		.single-offer-box img {
			width: 290px;
		}
		.offer-text-box {
			width: 250px;
			margin-left: -128px;
		}
	}
	
	@media only screen and (min-width: 768px) and (max-width: 991px) {
		.mainmenu li a {
			padding: 6px;
			padding-top: 10px;
		}
		.mainmenu {}
		.mainmenu li a {
			padding: 6px;
			padding-top: 10px;
		}
		.box-left {
			padding: 50px 40px;
		}
		.box-right {
			padding: 50px 0 0 0px;
		}
		.mini-box-btn {
			bottom: 100px;
		}
		.value-text {
			padding-left: 70px;
		}
		.value-chart img {
			max-width: 130%;
		}
		.offer-text-box {
			width: 90%;
			margin-left: -45%;
			bottom: -100%;
		}
		.offer-text-box h4 {
			font-size: 15px;
		}
		.offer-text-box h6 {
			font-size: 9px;
		}
		.offer-text-box p {
			font-size: 12px;
		}
		.single-offer-box {
			margin-bottom: 170px;
		}
		.twitter-tweet-text {
			padding: 0 100px;
		}
		.footer-img h6 {
			display: inline-block;
		}
		.footer-img img {
			margin: 0 auto;
			width: 70%;
			margin-bottom: 15px;
		}
		.inpute-area input[type=text] {
			font-size: 11px;
			text-transform: capitalize;
		}
		.footer-items {
			padding-left: 10px;
		}
	}
	
	@media only screen and (max-width: 767px) {
		.resposive-menu {
			display: block;
		}
		.mainmenu {
			display: none;
		}
		.resposive-menu .slicknav_menu {
			width: 100%;
			float: right;
			background: none;
			z-index: 9999;
		}
		.resposive-menu .slicknav_menu ul {
			border-radius: 5px;
			text-align: right;
			text-transform: uppercase;
		}
		.resposive-menu .slicknav_menu a {
			color: #000;
			transition: 0.3s;
		}
		.resposive-menu .slicknav_menu a:hover {
			color: #fff;
			background: none;
		}
		.resposive-menu .slicknav_btn {
			background: none;
		}
		.resposive-menu .slicknav_menu {
			padding-top: 0px;
		}
		.slider-tablecell {
			text-align: center;
		}
		.slider-tablecell h4 {
			font-size: 14px;
		}
		.slider-tablecell h2 {
			font-size: 35px;
			padding-right: 0;
		}
		.slider-tablecell p {
			font-size: 12px;
		}
		.box-left h4 {
			font-size: 10px;
			line-height: 1.1;
		}
		.box-left {
			padding: 65px 5px;
			line-height: 1.1;
			float: none;
			width: 100%;
			height: 240px;
		}
		.box-left p {
			font-size: 10px;
		}
		a.mini-box-btn {
			font-size: 11px;
		}
		a.pri-dflt-btn.mini-box-btn {
			padding: 0 10px 0px 20px;
		}
		.single-box img {
			width: 20px;
			height: 20px;
		}
		.right-box-text {
			padding-left: 30px;
		}
		.right-box-text h4 {
			font-size: 11px;
			margin-bottom: 2px;
		}
		.right-box-text p {
			font-size: 10px;
			line-height: 1.3;
		}
		.box-right {
			margin-left: 20px;
		}
		.single-box {
			width: 130%;
		}
		.box-right {
			padding-top: 70px;
		}
		.value-bg {
			background: none;
		}
		.value-section {
			height: 450px;
		}
		.expert-section h2 {
			font-size: 17px;
		}
		.expert-section p {
			font-size: 11px;
			line-height: 1.4;
			margin-bottom: 0;
		}
		a.pri-dflt-btn {
			padding: 0px 5px 0;
			font-size: 8px;
			line-height: 20px;
		}
		.pri-dflt-btn i.fa {
			padding-left: 8px;
			font-size: 8px;
		}
		.single-service-box {
			margin: 25px 0;
		}
		.offer-text-box {
			width: 90%;
			margin-left: -45%;
		}
		.twitter-tweet-text {
			padding: 0 10px;
		}
		.twitter-tweet-text p {
			font-size: 12px;
		}
		.footer-items {
			float: none;
			width: 100%;
		}
		.expert-section {
			margin-top: 100px;
		}
		ul.slick-dots {
			transform: rotate(0);
			margin-top: -90px;
			margin-right: 39%;
		}
		.resposive-menu .slicknav_menu ul {
			background: #27A295;
		}
	}
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.resposive-menu {
			display: inline;
		}
		.mainmenu {
			display: none;
		}
		.resposive-menu .slicknav_menu {
			width: 65%;
			float: right;
			background: none;
			z-index: 9999;
		}
		.resposive-menu .slicknav_menu ul {
			background: #27A295;
			border-radius: 5px;
			text-align: right;
			text-transform: uppercase;
		}
		.resposive-menu .slicknav_menu a {
			color: #000;
			transition: 0.3s;
		}
		.resposive-menu .slicknav_menu a:hover {
			color: #fff;
			background: none;
		}
		.resposive-menu .slicknav_btn {
			background: none;
		}
		.resposive-menu .slicknav_menu {
			padding-top: 0px;
		}
		.slider-tablecell h4 {
			font-size: 14px;
		}
		.slider-tablecell h2 {
			font-size: 35px;
			padding-right: 50px;
		}
		.slider-tablecell p {
			font-size: 12px;
		}
		.box-left h4 {
			font-size: 10px;
		}
		.box-left {
			padding: 65px 15px;
		}
		.box-left p {
			font-size: 10px;
		}
		a.mini-box-btn {
			font-size: 11px;
		}
		.single-box img {
			width: 20px;
			height: 20px;
		}
		.right-box-text {
			padding-left: 30px;
		}
		.right-box-text h4 {
			font-size: 11px;
			margin-bottom: 2px;
		}
		.right-box-text p {
			font-size: 10px;
			line-height: 1.3;
		}
		.box-right {
			margin-left: 20px;
		}
		.single-box {
			width: 130%;
		}
		.box-right {
			padding-top: 70px;
		}
		.value-bg {
			background: none;
		}
		.value-section {
			height: 450px;
		}
		.expert-section h2 {
			font-size: 17px;
		}
		.expert-section p {
			font-size: 11px;
			line-height: 1.4;
			margin-bottom: 0;
		}
		a.pri-dflt-btn {
			padding: 2px 10px;
			font-size: 10px;
		}
		.single-service-box {
			margin: 25px 0;
		}
		.offer-text-box {
			width: 90%;
			margin-left: -45%;
		}
		.twitter-tweet-text {
			padding: 0 10px;
		}
		.twitter-tweet-text p {
			font-size: 12px;
		}
		.footer-items {
			float: none;
			width: 100%;
		}
		.expert-section {
			margin-top: 100px;
		}
	}
